.about .section-title {
 padding-top: 20px;
 margin-top: 15px;
}

.about-grid,
.about-img,
.about-grid .section-title .text {
 max-width: 600px;
 margin-right: auto;
 margin-left: auto;
}

.about-item-icon {
  margin-right: 24px;
}

.about-item-icon img {
  width: 50px;
}

.about-item-text h3 {
  margin-bottom: 0;
  font-weight: 500;
}

.about-item-text .text {
  font-weight: 400;
}

.about-grid:nth-child(2) {
  padding: 50px 0;
  row-gap: 30px;
  column-gap: 0;
  grid-template-columns: repeat(2, 1fr);
}

.about-video {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.about-video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-video-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.8);
}

@media screen and (min-width: 992px) {
  .about-grid:nth-child(1),
  .about-grid:nth-child(2),
  .about-grid:nth-child(3){
    max-width: 100%;
  }

  .about-grid:nth-child(1),
  .about-grid:nth-child(3){
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 80px;
  }

  .about-grid:nth-child(1) .section-title {
    text-align: left;
  }
  .about-grid:nth-child(3) .section-title {
    text-align: right;
  }

  .about-grid:nth-child(3) {
    margin-top: 40px;
  }

  .about-grid:nth-child(2){
    grid-template-columns: repeat(4 , 1fr);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 20px;
  }
}