.header {
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.4)), url(https://images.unsplash.com/photo-1621513376775-9501b83c5ab2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NXx8aGVhZGVyJTIwaW1hZ2VzfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60) center/cover fixed no-repeat;
}

.header > .container {
  min-height: 100vh;
  flex: 1;
}

.header-title {
  font-size: 2rem;
  line-height: 1.4;
  font-weight: 700;
  color: #fff;
  margin-top: 1.8rem;
  max-width: 600px;
}

.header .btn-groups {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}
.header .btn-groups .btn-item {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.header .btn-groups .btn-item:first-child {
  border-color: var(--brown-color);
}

.header .btn-groups .btn-item:last-child {
  border-color: var(--dark-color);
}

@media screen and (min-width: 768px) {
  .header-title {
    font-size: 3rem;
  }

  .header .btn-groups .btn-item {
    font-size: 2.2rem;
    padding: 1.4rem 3.4rem;
  }

  .header .btn-groups {
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
  }
}

@media screen and (min-width: 992px) {
  .header-title {
    font-size: 48px;
  }
}

